<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="AlchemyConfig" type="AutoTagger.AlchemyConfig" />
    </configSections>

    <AlchemyConfig APIKey="[Alchemy API Key]" BaseURL="https://access.alchemyapi.com/" ConceptsPath="calls/text/TextGetRankedConcepts" />
</configuration>