<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="AlchemyConfig" type="AutoTagger.AlchemyConfig" />
    </configSections>

    <AlchemyConfig APIKey="b7139eead09701af1c32d43b9fecbab8dc903a50" BaseURL="https://access.alchemyapi.com/" ConceptsPath="calls/text/TextGetRankedConcepts" />
</configuration>